doctype html
html(lang="en")
  head
    title peel.fun
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../assets/style.css
  body
    main
      h1 peel.fun - get clean view from any URL
      article
        p
          | Usage: append 
          code /?url=YOUR_URL
          |  to the url in your browser address bar.
        p For example:
        p
          pre https://peel.fun/?url=https://en.wikipedia.org/wiki/Serial_Experiments_Lain
