doctype html
html(lang="en")
  head
    include partials/head.pug
  body
    main.container
      h1 peel.fun - get clean view from any URL
      article
        p Append any URL to your browser address bar to get a clean article view.
        p
          a(href='/?url=https://en.wikipedia.org/wiki/Serial_Experiments_Lain') View Sample
