doctype html
html(lang="en")
  head
    include partials/head.pug
  body
    main.container
      h1 peel.fun
      article
        p Append article URL to your browser address bar to get a clean view.
        p
          a(href='/?url=https://en.wikipedia.org/wiki/Serial_Experiments_Lain') View Sample
